<div class="flex items-center justify-center text-white  w-full">
  <div class="bg-black  ring-red-500 w-full m-5 p-10" style="box-shadow: 0 0 20px red;">
    <h2 class="text-3xl font-bold mb-6 text-center">Registro de Usuario</h2>

    <form [formGroup]="userForm">

      <!-- Grilla interna para los campos -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-2 gap-6 ">

        <!-- Tipo de Documento -->
        <div class="w-full flex flex-col">
          <label for="tipo_documento_id" class="mb-1 font-semibold text-sm">🪪 Tipo de Documento*</label>

          <!-- <p-select [options]="tiposDocumento" optionLabel="label" optionValue="value" filterBy="label" placeholder="Select a City" class="w-full md:w-56" /> -->

          <p-select id="tipo_documento_id" [options]="tiposDocumento" optionLabel="label" optionValue="value"
            formControlName="tipo_documento_id" placeholder="Selecciona un tipo de documento" [filter]="true"
            filterBy="label" class="w-full" />



          @if(userForm.get('tipo_documento_id')?.touched && userForm.get('tipo_documento_id')?.invalid) {
          <div class="text-red-500 mt-1 text-sm">
            {{ getErrorMessage('tipo_documento_id') }}
          </div>
          }
        </div>

        <!-- Número de Documento -->
        <div class="w-full flex flex-col">
          <label for="numero_documento" class=" mb-1 text-sm font-semibold">🔢 Número de Documento*</label>
          <input id="numero_documento" type="text" pInputText formControlName="numero_documento" appOnlyNumbers
            placeholder="Número de documento " />
          @if(userForm.get('numero_documento')?.touched && userForm.get('numero_documento')?.invalid) {
          <div class="text-red-500 mt-1 text-sm">
            {{ getErrorMessage('numero_documento') }}
          </div>
          }
        </div>

        <!-- Nombres -->
        <div class="w-full flex flex-col">
          <label for="nombres" class=" mb-1 text-sm font-semibold">👤 Nombres*</label>
          <input id="nombres" type="text" pInputText formControlName="nombres" appOnlyNumbers
            placeholder="Número de documento " />
          @if(userForm.get('nombres')?.touched && userForm.get('nombres')?.invalid) {
          <div class="text-red-500 mt-1 text-sm">
            {{ getErrorMessage('nombres') }}
          </div>
          }
        </div>

        <!-- Apellidos -->
        <div class="w-full flex flex-col">
          <label for="apellidos" class=" mb-1 text-sm font-semibold">👥 Apellidos*</label>
          <input id="apellidos" type="text" pInputText formControlName="apellidos" appOnlyNumbers
            placeholder="Número de documento " />
          @if(userForm.get('apellidos')?.touched && userForm.get('apellidos')?.invalid) {
          <div class="text-red-500 mt-1 text-sm">
            {{ getErrorMessage('apellidos') }}
          </div>
          }
        </div>

        <!-- Correo -->
        <div class="w-full flex flex-col">
          <label for="correo" class=" mb-1 text-sm font-semibold">📧 Correo*</label>
          <input id="correo" type="text" pInputText formControlName="correo" appOnlyNumbers
            placeholder="Número de documento " />
          @if(userForm.get('correo')?.touched && userForm.get('correo')?.invalid) {
          <div class="text-red-500 mt-1 text-sm">
            {{ getErrorMessage('correo') }}
          </div>
          }
        </div>

        <!-- Nombres -->
        <div class="w-full flex flex-col">
          <label for="telefono" class=" mb-1 text-sm font-semibold">📱 Teléfono*</label>
          <input id="telefono" type="text" pInputText formControlName="telefono" appOnlyNumbers
            placeholder="Número de documento " />
          @if(userForm.get('telefono')?.touched && userForm.get('telefono')?.invalid) {
          <div class="text-red-500 mt-1 text-sm">
            {{ getErrorMessage('telefono') }}
          </div>
          }
        </div>




      </div>
    </form>

    <div class="flex justify-end mt-10 gap-5">


      <button (click)="registrarUsuario()" [disabled]="!userForm.valid" class="w-1/2 p-3 bg-red-600 text-white rounded-lg shadow-md hover:bg-red-700 transition disabled:bg-gray-400 disabled:cursor-not-allowed">
        Finalizar Registro
      </button>
    </div>


  </div>
</div>
